
<!DOCTYPE html>
<html>
<title></title>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
    <div class="head">
        <div class="menu-row"></div>
        <div class="head-menu">
            <span class="head-menu-item"><a href="/home">home</a></span>
            <span  class="head-menu-item"><a href="/reports">reports</a></span>
            <span  class="head-menu-item"><a href="/search">search</a></span>
            <span  class="head-menu-item"><a href="/flt">f-tolerance</a></span>
        </div>
    </div>
</head>
<body>
    <h1>fltrepot</h1>




               {{range $p :=  .D}}
{{$p.PC_Name}}  
{{$p.CPU}}
{{$p.CPU_Freq}} {{$p.CPU_Cores}}{{$p.CPU_Thred}}{{$p.RAM_Size}}{{$p.RAM_Freq}} {{$p.HDD_Type}}  {{$p.Perfomance_Cluster}} {{$p.FaultT_Cluster}} 
               {{end}}
               {{.All}}
                          
            </body>
            </html>