<!DOCTYPE html>
<html>
<title></title>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
    <div class="head">
        <div class="menu-row"></div>
        <div class="head-menu">
            <span class="head-menu-item"><a href="/home">home</a></span>
            <span  class="head-menu-item"><a href="/reports">reports</a></span>
            <span  class="head-menu-item"><a href="/search">search</a></span>
            <span  class="head-menu-item"><a href="/flt">f-tolerance</a></span>
        </div>
    </div>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <div >
        <h4>HOME</h4>
    </div>
</body>
</html>